<% messages&.each do |message| %>
  <% if message.body %>
    <% user = User.find(message.user_id) %>
    <div>
     <div>
       <strong> <%= user.full_name %></strong>
     </div>
     <div>
       <%= message.body %>
     </div>
     <% if can? :destroy, message %>
      <%= link_to 'Delete',
        conversation_messages_path(@conversation, message_id: message.id),
        method: :delete,
        remote: :true,
        data: { confirm: 'Are you sure?' }
      %>
    <% end %>
    </div>
  <% end %>
<% end %>
