<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12 col-md-12'>
      <div id='home-page-carousel' class='jumbotron jumbotron-fluid carousel slide' data-ride='carousel'>
        <ol class="carousel-indicators">
          <li data-target="#home-page-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#home-page-carousel" data-slide-to="1"></li>
          <li data-target="#home-page-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <h1>test1</h1>
          </div>

          <div class="item">
            <h1>test2</h1>
          </div>

          <div class="item">
            <h1>test3</h1>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#home-page-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#home-page-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> <!-- jumobtron -->
    </div> <!-- col -->
  </div> <!-- row -->

  <div class='row'>
    <div class='col-xs-12 col-md-12'>

    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
