<div class='container-fluid'>
  <div class='row form-margin-container'>
    <h1 class='new-post-title'> Edit Post </h1>
    <hr style='border-top: 1px solid black;' />

    <div class='col-md-8 col-md-offset-2 form-container'>
      <%= render 'form' %>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12 col-md-12'>
      <%= render '/layouts/footer.html.erb' %>
    </div>
  </div>
</div>
