/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require font_awesome
 *= require_tree .
 *= require_self
 */
 .messages {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}
 * {
   font-family: sans-serif;
 }
 /* navbar styling */
 nav {
   background-color: rgb(240,240,240);
   border: 2px solid black;
 }

 #menu {
   background: inherit;
 }
 #toggle-menu {
   font-size: 30px;
   position: relative;
   top: 5px;
 }
 nav ul li a {
   font-size: 25px;
 }
.user-name {
  font-size: 25px;
  text-align: left;
  padding-left: 15px;
  color: #9d9d9d;
}
/* this query removes the styling on the li elements below a 992px */
@media (min-width: 992px) {

  .menu-element-left {
    position: relative;
    top: 15px;
    left: 30px;
  }
  .menu-element-right {
    position: relative;
    top: 15px;
    right: 30px;
  }
  .blog-images {
    max-height: 250px;
    max-width: 325px;
  }
  .user-name {
    font-size: 25px;
    position: relative;
    top: 7px;
    padding-left: 5px;
    padding-right: -25px;
  }
}
 /* media  query to collapse the navbar sooner than the default 768px otherwise our navbar begins to mash together */
 @media (max-width: 992px) {
     .navbar-header {
         float: none;
     }
     .navbar-left,.navbar-right {
         float: none !important;
     }
     .navbar-toggle {
         display: block;
     }
     .navbar-collapse {
         border-top: 1px solid transparent;
         box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
     }
     .navbar-fixed-top {
         top: 0;
         border-width: 0 0 1px;
     }
     .navbar-collapse.collapse {
         display: none!important;
     }
     .navbar-nav {
         float: none!important;
         margin-top: 7.5px;
     }
     .navbar-nav>li {
         float: none;
     }
     .navbar-nav>li>a {
         padding-top: 10px;
         padding-bottom: 10px;
     }
     .collapse.in{
         display:block !important;
     }
     .input-group .form-control {
     position: relative;
     z-index: 2;
     float: left;
     width: 100%;
   }
 }

/* carousel styling */

.carousel {
  margin-top: 75px;
  background-color: black;
}

.carousel-image {
  height: 50%;
  width: 100%;
  max-width: 100%;
  max-height: 90%;
}

.carousel-inner {
  height: 80vh;
}

/* what's new styling */

.wn-header {
  text-align: center;
  font-family: 'Open Sans'
}

.show-more {
  font-family: 'Open Sans'
}
